{% extends 'encuesta/../base/base.html' %}
{% load static %}
{% block titulo %}
INICIO
{% endblock %}
{% block menu %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <div class="col col-lg-2">
                <a class="navbar-brand" href="{% url 'index2' %}">
                    <img src="{% static 'encuesta/img/LOJA.png' %}" width="120"
                         height="70" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class="col-6">
                <b class="text-primary">
                    <h2>e-Governance Service Maturity Model</h2>
                </b>
            </div>
            <div class="col col-lg-2">
                <img src="{% static 'encuesta/img/escudo.png' %}" width="60"
                     height="70" class="d-inline-block align-top" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid navbar-inverse">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'index' %}">Realizar encuestas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'resultado' %}">Resultados</a>
            </li>

        </ul>
    </div>
</nav>
{% endblock %}
{% block centro %}
<style>
#chartdiv {
  width: 100%;
  height: 600px;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 "><h2>Resultados</h2></div>
        <div class="col-md-6 offset-md-3">
            {% if valor == "Bottom Up"%}
            <p>CADA SECCIÓN SE ENCUENTRA VALORADO POR 3 PUNTOS</p>
            {% else %}
            <p>CADA SECCIÓN SE ENCUENTRA VALORADO POR 5 PUNTOS</p>
            {% endif%}
        </div>
    </div>
</div>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.RadarChart);

chart.data = {{dato|safe}};
console.log({{dato|safe}})

chart.innerRadius = am4core.percent(40)

var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "pregunta_respuesta__pregunta__categoria__categoria";
categoryAxis.renderer.minGridDistance = 60;
categoryAxis.renderer.inversed = true;
categoryAxis.renderer.labels.template.location = 0.5;
categoryAxis.renderer.grid.template.strokeOpacity = 0.08;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.min = 0;
valueAxis.extraMax = 0.1;
valueAxis.renderer.grid.template.strokeOpacity = 0.08;

chart.seriesContainer.zIndex = -10;


var series = chart.series.push(new am4charts.RadarColumnSeries());
series.dataFields.categoryX = "pregunta_respuesta__pregunta__categoria__categoria";
series.dataFields.valueY = "val";
series.tooltipText = "{valueY.value}"
series.columns.template.strokeOpacity = 0;
series.columns.template.radarColumn.cornerRadius = 5;
series.columns.template.radarColumn.innerCornerRadius = 0;

chart.zoomOutButton.disabled = true;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", (fill, target) => {
 return chart.colors.getIndex(target.dataItem.index);
});

setInterval(()=>{
 am4core.array.each(chart.data, (item)=>{
   item.visits *= Math.random() * 0.5 + 0.5;
   item.visits += 10;
 })
 chart.invalidateRawData();
}, 2000)

categoryAxis.sortBySeries = series;

chart.cursor = new am4charts.RadarCursor();
chart.cursor.behavior = "none";
chart.cursor.lineX.disabled = true;
chart.cursor.lineY.disabled = true;

}); // end am4core.ready()
</script>

<!-- HTML -->

<div class="row">
    <div class="col-md-10">
        <div id="chartdiv"></div>
    </div>
    <div class="col-1">
        <div class="col-sm">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nivel Servicio</th>
                </tr>
                </thead>
                <tbody>
                {% for d in lista %}
                <tr>
                    <th scope="row" class="{% if d.val >= 2 %}
                table-success
                {% elif d.val >= 1 %}
                table-warning
                {% else %}
                table-danger
                {%endif%}">{{d.pregunta_respuesta__pregunta__categoria__categoria}}
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}